@import "tailwindcss";

@media print {
  header, footer, nav, button, .no-print {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  .print-only-title {
    display: block !important;
  }
}
